
<div class="side-user-list">
  <div>
  	<h4 style='text-align: center;'>All Users</h4>
  	<% @users = User.all.where.not(id: current_user)%>
    <% @users.each do |user| %>
    <div class="user-list-element">
      <div><%= image_tag user.avatar.url,height: "50px" ,width: "50px" %></div>
      <div><%= user.name%> <%= link_to 'send a message', new_personal_message_path(receiver_id: user) %></div>
  	</div>
    <% end %>
  <div>
</div>
